<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjetc.mapper.MessageMapper">

    <resultMap id="UserResultMap" type="com.tjetc.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
    </resultMap>

    <select id="findConversations" resultMap="UserResultMap">
        SELECT u.id, u.username
        FROM user u
        WHERE u.id IN (
            SELECT DISTINCT m.sender_id FROM message m WHERE m.recipient_id = #{userId}
            UNION
            SELECT DISTINCT m.recipient_id FROM message m WHERE m.sender_id = #{userId}
        )
    </select>
    <delete id="deleteConversation">
        DELETE FROM message
        WHERE (sender_id = #{userId1} AND recipient_id = #{userId2})
           OR (sender_id = #{userId2} AND recipient_id = #{userId1})
    </delete>
</mapper>