<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjetc.mapper.UserMapper">
    <sql id="columnName">
        id,
        username,
        id_card,
        age,
        gender,
        phone,
        birth_date,
        address,
        password,
        role,
        created_at,
        updated_at
    </sql>
    <select id="selectByIdCard" resultMap="UserMap">
        select
        <include refid="columnName"></include>
        from user
        where id_card = #{idCard}
    </select>
    <select id="searchByUsername" resultMap="UserMap">
        select
        <include refid="columnName"></include>
        from user
        where username like concat('%', #{username}, '%')
    </select>
    <resultMap id="UserMap" type="User">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="id_card" property="idCard"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <result column="phone" property="phone"></result>
        <result column="birth_date" property="birthDate"></result>
        <result column="address" property="address"></result>
        <result column="password" property="password"></result>
        <result column="role" property="role"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="updated_at" property="updatedAt"></result>
    </resultMap>
    <select id="selectByIdCardAndPassword" resultMap="UserMap">
        select
        <include refid="columnName"></include>
        from user
        where id_card = #{idCard}
        and password = #{password}
    </select>

    <select id="selectByPhoneAndPassword" resultMap="UserMap">
        select
        <include refid="columnName"></include>
        from user
        where phone = #{phone}
        and password = #{password}
    </select>

    <select id="selectByIdCardAndUsername" resultMap="UserMap">
        select
        <include refid="columnName"></include>
        from user
        where id_card = #{idCard}
        and username = #{username}
    </select>
</mapper>